.nav {
  display: flex;
  background-color:rgba(238,236,231,0.5);
  margin: 30px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  min-height: 80px;
  height: 10vh;
}

.nav__container {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 5px;
  background-color:rgba(238,236,231, 0.8);
  cursor: pointer;
  border-radius: 5px;
}
.nav__container:hover {
  font-weight: 700;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
  transition: box-shadow 0.3s ease;
}
.nav__container__link {
  margin: 10px;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}