body {
    display: flex;
    background: url("/public/froze/1.jpg") no-repeat border-box fixed center/cover;
    overflow: hidden;
    padding: 0;
    margin: 10px;
    font-family: 'roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}
